<div class="row" id="questions">
    <% @questions.each do |question| %>
        <div class="col-xs-12" id="question-body">
            <div class="col-xs-1">
                <h3 class="text-center">0</h3>
                <p class="text-center">Votos</p>
            </div>
            <div class="col-xs-1">
                <h3 class="text-center">1</h3>
                <p class="text-center">Respuestas</p>
            </div>
            <div class="col-xs-1">
                <h3 class="text-center">1</h3>
                <p class="text-center">Vistas</p>
            </div>
            <div class="col-xs-9">
                <h4><%= link_to question.title, question, class:"title" %></h4>
            </div>
        </div>     
    <% end %>
</div>